body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/tlo.png");
	margin: 0px;
	font-family: 'Slabo 27px', serif;
}

h1
{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

a:link
{
	color: black;
	text-decoration: none;
}

a:visited
{
	color: black;
	text-decoration: none;
}

a:hover
{
	color: #aa11dd;
	text-decoration: underline;
}

a:active
{
	color: #aa11dd;
	text-decoration: underline;
}

.scrollup
{
	width: 64px;
	height: 64px;
	background-size: 64px 64px;
	text-decoration: none;
	/* Icons made by https://www.flaticon.com/authors/appzgear" */
	background: url("img/up.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
}

#logo
{
	width: 100%;
	height: 50px;
	background-color: #aa11dd;
	font-size: 36px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding:5px 0px 5px 0px;
	letter-spacing: 3px;
	border-bottom: 2px solid #880099;
	text-shadow:
	2px 2px 0 #880099,
	-2px 2px 0 #880099,
	-2px -2px 0 #880099,
	2px -2px 0 #880099;
}

#container
{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 878px;
	padding: 10px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

#spis
{
	width: 780px;
	padding-left: 100px;
}

ol
{
	margin-top: 5px;
}

ol > li
{
	text-sixe: 22px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px;
	letter-spacing: 3px;
}

ol > li > ul
{
	font-size: 18px;
	text-transform: none;
	font-weight: 400;
	padding: 0px;
	letter-spacing: 0px;
	margin-top: 5px;
	margin-left: 30px;
	list-style-type: none;
}

ol > li > ul > li
{
	margin: 0px;
}

ol > li > ul > li:before
{
	color: #aa11dd;
	margin-right: 20px;
	content: "♛";
}

.slajd
{
	padding: 20px 40px;
	text-align: justify;
}

#footer
{
	width: 100%;
	height: 120px;
	background-color: #aa11dd;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	border-top: 2px solid #880099;
	text-shadow:
	2px 2px 0 #880099,
	-2px 2px 0 #880099,
	-2px -2px 0 #880099,
	2px -2px 0 #880099;
}

#footerbox
{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom:auto;
	width: 940px;
}

#footertext
{
	padding: 15px 10px 15px 10px;
	font-size: 24px;
	text-align: right;
	width: 740px;
	float: left;
}

#footerimg
{
	padding: 15px 10px 15px 10px;
	width: 160px;
	float: left;
}

a#footerlink:hover
{
	color: white;
}